language: python
python:
  - "2.7"
  - "3.4"
  - "3.5"
  - "3.6"
cache: pip
before_cache: rm -f $HOME/.cache/pip/log/debug.log
install: pip install . nose coverage codecov
script: nosetests --with-coverage --cover-package=clldutils
after_success:
  codecov
